<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvxiaomin.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.lvxiaomin.entity.Message">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="mContent" column="m_content" jdbcType="VARCHAR"/>
            <result property="mTime" column="m_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,m_content,m_time
    </sql>
</mapper>
